body
{
	perspective: 800px;
}
#outer
{
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	column-gap: 20px;
	grid-row-gap: 20px;
}
#three
{
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;


}
#three:hover
{
	transition-property: transform;
	transition-duration: 2s;
/*	transform: scale3d(2,2,3);
*/
	transform: translateZ(300px);
}